streamlit
langchain
langchain-google-genai
langchain-openai
langchain-aws
langchain-chroma
langchain-community
langchainhub
langgraph
chromadb
google-generativeai
pymupdf4llm
pymupdf
python-dotenv
pydantic-settings
pillow
requests
rank-bm25
sentence-transformers
duckduckgo-search
tavily-python
ragas
langsmith
